Data Collection for I320D ML Project. Looking for financial data that will enable us to an individual stock crash. Will need time series data for price, company actions, finances, and macroeconomic indicators as factors.

Data Collection Periods: 01/01/2005 - 01/01/2010 and 01/01/2020 - 03/30/2023. The first period will primarily be used as a training set and the more recent period will be used for testing.

### NBER Recession Indicators for the United States

These are daily indicators of whether or not the United States is currently in a recession, with 0 = no and 1 = yes. Downloaded from the St. Louis Fed FRED Economic Database. These values will likely be used as our main labels.

In [2]:
import pandas as pd

us_rec = pd.read_csv(r'Macroeconomic_Data\05_10_USRECD.csv')
us_rec

            DATE  USRECD
0     2005-01-01       0
1     2005-01-02       0
2     2005-01-03       0
3     2005-01-04       0
4     2005-01-05       0
...          ...     ...
1822  2009-12-28       0
1823  2009-12-29       0
1824  2009-12-30       0
1825  2009-12-31       0
1826  2010-01-01       0

[1827 rows x 2 columns]

## Collection of Further Macroeconomic Indicators

T10YIE: 10-Year Breakeven Inflation Rate
T10Y2Y: 10-Year Treasury Constant Maturity Minus 2-Year Treasury Constant Maturity
DFF: Federal Funds Effective Rate
SP500: S&P 500
VIXCLS: Volatility Index